body {
  background: url("burger.jpg");
  color: white;
}
h1 {
  text-align: center;
  font-size: 3em;
}

.not-devoured,
.devoured,
.add-burger {
  font-size: 1.5em;
  text-align: center;
}

button {
  font-size: 1em;
}

li {
  padding: 5px;
  margin: 5px;
}

.form-group {
  margin-bottom: 1em;
}
